/* nav selected */
#menu ul #about {
    opacity: 100%;
    font-family: 'body_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
}
/* nav selected */
    


/* grid setup start */
#personal_info, #personal_resume {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px;
}

#personal_info {
    margin: 0 0 120px 0;
}

#personal_info p, #personal_resume p {
    padding: 0 64px 0 0;
}

.about_info {
    margin: 0 0 0 0;
}

.about_info:nth-child(even), .resume:nth-child(odd) {
    grid-column: 1/4;
}

.about_info:nth-child(odd), .resume:nth-child(even) {
    grid-column: 4/7;
}
/* grid setup end */



/* self portrait start */
#self_portrait {
    max-height: 72vh;
    min-height: 400px;
    overflow: hidden;
}

#self_portrait_img {
    width: 100%;
    /* max-width: 360px; */
}
/* self portrait end */




/* social start */
.social_icon {
    width: 16px;
    height: 16px;
    filter: grayscale(1);
}

#social_media a {
    display: inline-block;
    margin: 0 16px 0 0;
}
/* social end */


.project_content_list {
    margin: 0 0 0 20px;
    padding: 0 64px 0 20px;
}

.project_content_list li {
    color: #333333;
    margin: 0;
    padding: 0 0 0 8px;
} /* same as content p */

#education, #experience {
    margin: 64px 0 0 0;
}

.resume_title h3 {
    margin: 0;
}

.org {
    margin: 0;
}

.org a {
    color: #000;
}

.org a:active {
    color: #000;
}

.detail_info {
    font-family: 'body_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0 0 0 0;
    margin: 0px 0 24px 0;
    color: #333;
}

.exp_section .description, .edu_section .description {
    margin: 0;
}

.exp_section, .edu_section {
    padding: 0 0 24px 0;
}

#personal_info .about_info #email p {
    margin: 0;
}

#full_resume {
    margin: 0 0 24px 0;  
    color: #333;
}


/* responsive start */
@media (min-width: 1600px) {
    #self_portrait {
        max-width: 440px;
    }
}

@media (max-width: 1156px) {
    .about_info:nth-child(odd), .resume:nth-child(odd), .about_info:nth-child(even), .resume:nth-child(even) {
        grid-column: 1/7;
    }

    #self_portrait {
        max-height: 100%;
        margin: 0 0 64px 0;
    }

    #self_portrait_img {
        max-width: none;
    }
}

@media (max-width: 960px) {
    
}
/* responsive end */