/* nav selected */
#menu ul #code {
    opacity: 100%;
    font-family: 'body_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
}
/* nav selected */

/* project image start*/
.pick_card {
    background: url("../image/img_code/thumbnail_pika.png");
}

.planets {
    background: url("../image/img_code/thumbnail_planets.png");
}

.balls {
    background: url("../image/img_code/thumbnail_balls.png");
}
/* project image end*/