/* nav selected */
#menu ul li #work {
    opacity: 100%;
}
/* nav selected */

/* project image start*/
.cm {
    background: url("../image/img_work/thumbnail_cm.jpg");
}

.cm_landing {
    background: url("../image/img_work/thumbnail_landing.jpg");
}

.cm_guide {
    background: url("../image/img_work/thumbnail_guide.jpg");
}

.patient_interface {
    background: url("../image/img_work/thumbnail_patient.jpg");
}

.daily {
    background: url("../image/img_work/thumbnail_daily.jpg");
}

/* project image end*/