/* nav selected */
#menu ul #work {
    opacity: 100%;
    font-family: 'body_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
}
/* nav selected */

/* project image start*/
.ideapot {
    background: url("../image/img_work/thumbnail_ideapot.png");
}

.cm {
    background: url("../image/img_work/thumbnail_cm.png");
}

.cm_landing {
    background: url("../image/img_work/thumbnail_landing.png");
}

.cm_guide {
    background: url("../image/img_work/thumbnail_guide.png");
}

.patient_interface {
    background: url("../image/img_work/thumbnail_patient.png");
}

.daily {
    background: url("../image/img_work/thumbnail_daily.png");
}

/* project image end*/