




body {
    /* 12px 20px */
    --pSubSize: calc(var(--pSize) * 0.875);
    --pSubLineHeight: calc(var(--pSubSize) * 21 / 14);
    /* 16px 28px */
    --pSize: calc(100vw / 80);
    --pLineHeight: calc(var(--pSize) * 1.75);
    /* 1.5, 24px 32px */
    /* 1.25, 20px 32px */
    --h3Size: calc(var(--pSize) * 1.25);
    --h3LineHeight: calc(var(--h3Size) * 32 / 20);
    /* 40px 48px */
    --h2Size: calc(var(--pSize) * 2.5);
    --h2LineHeight: calc(var(--h2Size) * 48 / 40);
    /* 120px 128px */
    --h1Size: calc(var(--pSize) * 7.5);
    --h1LineHeight: calc(var(--h1Size) * 128 / 120);

    --gutter: calc(var(--pLineHeight) * 1.5);

    /* project color: */
    --ColorBlack: #000;
    --ColorBlackText: #2b2b2b;
    --ColorWhite: #fff;
    --ColorWhiteText: #fff;
    --ColorGrayText: #999;
    --ColorGrayBackground: #f2f2f2;
    /* project color: */
    --ColorCmxDash: #4495B6;
    /* --ColorCmxDash: #1A80AC; */
    --ColorChime: #EDE2D1;
    /* --ColorChime2: #44916B; */
    --ColorCmGuide: #fff;
    /* --ColorFulcrum: #e36f4c; */
    --ColorFulcrum: #EDE2D1;
    --ColorDiary: #F3EAE0;
    --ColorTalkie: #3053DF;
    --ColorData: #000;
    --ColorGarden: #8DC3B5;
    /* --ColorMap: #F5F2ED; */
    --ColorMap: #EDE2D1;
    --ColorLogo: #000;


    font-family: "Roboto";
    font-weight: 400;
    /* word-spacing: 1px; */

    color: var(--ColorBlackText);
    background-color: var(--ColorBlack);

    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: var(--h1Size);
    line-height: var(--h1LineHeight);
    font-weight: 400;
}
.h1Project {
    font-size: var(--h2Size);
    line-height: var(--h2LineHeight);
    font-weight: 400;
}

h2 {
    font-size: var(--h2Size);
    line-height: var(--h2LineHeight);
    font-weight: 400;
}

h3 {
    font-size: var(--h3Size);
    line-height: var(--h3LineHeight);
    font-weight: 400;
}

h1, h2, h3 {
    font-family: "Roboto Slab";
}
.whiteBackground h1,
.whiteBackground h2,
.whiteBackground h3 {
    color: var(--ColorBlack);
}

p {
    font-size: var(--pSize);
    line-height: var(--pLineHeight);
    font-weight: 400;
}

.pSub {
    font-size: var(--pSubSize);
    line-height: var(--pSubLineHeight);
    font-weight: 400;
    color: var(--ColorGrayText);
}

.pSlab {
    font-family: "Roboto Slab";
}

.pRegular {
    /* font-family: "Roboto Slab"; */
    font-weight: 400;
}
.pLight {
    /* font-family: "Roboto Slab"; */
    font-weight: 300;
}
.pMedium {
    /* font-family: "Roboto Slab"; */
    font-weight: 500;
}

.pGray {
    color: var(--ColorGrayText);
}

.pHighlightRegular {
    font-family: "Roboto Mono";
    font-weight: 400;
    /* word-spacing: 0px; */
}
.pHighlightLight {
    font-family: "Roboto Mono";
    font-weight: 300;
    /* word-spacing: 0px; */
}
.pNumberHighlight {
    font-family: "Roboto Slab";
    /* font-size: var(--h2Size);
    line-height: var(--h2LineHeight); */
    font-size: calc(var(--pSize) * 5);
    line-height: calc(var(--pSize) * 5);
}

.pUppercase {
    text-transform: uppercase;
}

.pCenter {
    text-align: center;
}

.textOverFlowHidden {
    overflow: hidden;
}
.textNowrap {
    white-space: nowrap;
}

ul, ol {
    margin-left: var(--pLineHeight);
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.aBlack {
    color: var(--ColorBlack);
}
.aBlack:visited {
    color: var(--ColorBlack);
}

.aWhite {
    color: var(--ColorWhiteText);
}
.aWhite:visited {
    color: var(--ColorWhiteText);
}

.aInternalNormal {
    opacity: 0.4;

    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.aInternalNormal:hover {
    cursor: pointer;
    opacity: 1;

    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.aInternalSelected {
    opacity: 1;

    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.aInternalSelected:hover {
    cursor: pointer;
}
.aExternal {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--ColorBlack);
    color: var(--ColorBlackText);

    opacity: 1;

    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.aExternal:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--ColorBlack);
    color: var(--ColorBlackText);

    opacity: 0.4;
    
    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.aExternal:visited {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--ColorBlack);
}
#navTop .aExternalCursor,
#footerBottom .aExternalCursor {
    cursor: url('../icon/cursor_arrow_topRight_black.svg'), default;
}

.whiteText {
    color: var(--ColorWhiteText);
}
    .whiteText p {
        color: var(--ColorGrayText);
    }
    .whiteTextColorBackground p {
        color: var(--ColorWhiteText);
    }
.blackBackground {
    background-color: var(--ColorBlack);
}
.whiteBackground {
    background-color: var(--ColorWhite);
}
.grayBackground {
    background-color: var(--ColorGrayBackground);
}

/* background color for each project */
.fulcrumBackground {
    background-color: var(--ColorFulcrum);
}
.chimeBackground {
    background-color: var(--ColorChime);
}
.mapBackground {
    background-color: var(--ColorMap);
}
.cmDashBackground {
    background-color: var(--ColorCmxDash);
}


/* 8px, pSub/p under image */
.vSpace8 {
    height: calc(var(--pLineHeight) / 4)
}

/* 16px, h3<>p */
.vSpace16 {
    height: calc(var(--pLineHeight) / 2);
}
/* 28px, between sec in subsec, h2<>p */
.vSpace28 {
    height: calc(var(--pLineHeight) * 1);
}
/* 80px, between subsecs */
.vSpace80 {
    height: calc(var(--pLineHeight) * 3);
}
/* 120px */
.vSpace120 {
    height: calc(var(--pLineHeight) * 4.5);
}

/* 40px, this == gutter */
.vSpace40 {
    height: calc(var(--pLineHeight) * 1.5);
}
/* 56px, only used for project description's bottom */
.vSpace56 {
    height: calc(var(--pLineHeight) * 2);
}

.vSpaceFixedEdge {
    height: var(--fixedEdge);
}


/* padding: 8px */
/* .marginTop8 {
    margin-top: calc(var(--gutter) / 4);
} */
/* padding: 16px */
/* .marginTop16 {
    margin-top: calc(var(--gutter) / 2);
} */
/* padding: 28px */
/* .marginTop28 {
    margin-top: calc(var(--gutter) * 1);
} */
/* padding - page edge */
/* only used for menu list */
.marginTopFixedEdge {
    margin-top: var(--fixedEdge);
}


/* white line */
.line {
    height: 1px;
    background-color: var(--ColorWhite);
}
/* black line */
.lineBlack {
    height: 1px;
    background-color: var(--ColorBlackText);
}


/* display */
.displayNone {
    display: none;
}
.displayFlex {
    display: flex;
}






#contentContainer {
    --navHeight: calc(var(--pLineHeight) * 4);
    
    --contentContainerWidth: 100vw;
    --block1: var(--contentContainerWidth);

    /* vvv has max value in media rwd */
    --contentWidth: 90vw; 
    --block12_12: var(--contentWidth);
    --block1_12: calc(calc(var(--block12_12) - var(--gutter) * 11) / 12);
    --block2_12: calc(var(--block1_12) * 2 + var(--gutter) * 1);
    --block3_12: calc(var(--block1_12) * 3 + var(--gutter) * 2);
    --block4_12: calc(var(--block1_12) * 4 + var(--gutter) * 3);
    --block5_12: calc(var(--block1_12) * 5 + var(--gutter) * 4);
    --block6_12: calc(var(--block1_12) * 6 + var(--gutter) * 5);
    --block7_12: calc(var(--block1_12) * 7 + var(--gutter) * 6);
    --block8_12: calc(var(--block1_12) * 8 + var(--gutter) * 7);
    --block9_12: calc(var(--block1_12) * 9 + var(--gutter) * 8);
    --block10_12: calc(var(--block1_12) * 10 + var(--gutter) * 9);
    --block11_12: calc(var(--block1_12) * 11 + var(--gutter) * 10);
    

    /* fix edge distance */
    --fixedEdge: calc(calc(100vw - var(--contentWidth)) / 2);
    

    width: var(--contentContainerWidth);
    height: auto;
}



/* contentBlockHLayoutVVVHHH */
.contentBlockHLayoutStretchSaround {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.contentBlockHLayoutStretchSbetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.contentBlockHLayoutCenterSbetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contentBlockHLayoutStretchSevenly {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}
.contentBlockHLayoutStretchSevenlyReverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-evenly;
}
.contentBlockHLayoutStretchCenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.contentBlockHLayoutTopSbetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.contentBlockHLayoutCenterSaround {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contentBlockHLayoutCenterScenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contentBlockHLayoutStretchLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}
.contentBlockHLayoutCenterLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.contentBlockHLayoutCenterRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.contentBlockHLayoutBottomSaround {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.contentBlockHLayoutBottomSbetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

/* contentBlockVLayoutHHHVVV */
.contentBlockVLayoutLeftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.contentBlockVLayoutLeftBottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.contentBlockVLayoutRightTop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.contentBlockVLayoutCenterTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.contentBlockVLayoutCenterTopReverse {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}
.contentBlockVLayoutCenterCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentBlockVLayoutCenterSevenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.contentBlockVLayoutCenterSbetween {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contentBlockVLayoutLeftSbetween {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.contentBlockVLayoutLeftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
        /* content fixed */
        .contentBlockFixed {
            position: fixed;
        }                
        .contentBlockFixedTopLeft {
            top: var(--fixedEdge);
            left: var(--fixedEdge);
        } /* only used for menuIcon */
        .contentBlockFixedTopLeft0 {
            top: 0;
            left: 0;
        }

        /* for Full Width Content */
        .contentFloatRight {
            float: right;
        }
            


/* general container */
.contentBlockWidth_1 {
    width: var(--block1);
}
.contentBlockWidth_1_12 {
    width: var(--block1_12);
}
.contentBlockWidth_2_12 {
    width: var(--block2_12);
}
.contentBlockWidth_3_12 {
    width: var(--block3_12);
}
.contentBlockWidth_4_12 {
    width: var(--block4_12);
}
.contentBlockWidth_5_12 {
    width: var(--block5_12);
}
.contentBlockWidth_6_12 {
    width: var(--block6_12);
}
.contentBlockWidth_7_12 {
    width: var(--block7_12);
}
.contentBlockWidth_8_12 {
    width: var(--block8_12);
}
.contentBlockWidth_9_12 {
    width: var(--block9_12);
}
.contentBlockWidth_10_12 {
    width: var(--block10_12);
}
.contentBlockWidth_11_12 {
    width: var(--block11_12);
}
.contentBlockWidth_12_12 {
    width: var(--block12_12);
}


/* 1/2 */
.contentBlockWidth_1_2 {
    width: calc(calc(100% - var(--gutter)) / 2);
}

/* 1/4 + 1/4 + 1/4 + 1/4 */
.contentBlockWidth_1_4 {
    width: calc(calc(100% - var(--gutter) * 3) / 4);
}

/* 1/8 + 7/8 */
.contentBlockWidth_1_20 {
    width: calc(calc(100% - var(--gutter)) / 40);
}
.contentBlockWidth_19_20 {
    width: calc(calc(100% - var(--gutter)) / 40 * 39);
}

.imageWidthInsideContainer {
    width: 100%;
}
.imageWidthInsideContainer64 {
    width: 64%;
}
.imageWidthInsideContainer80 {
    width: 80%;
}



/* image load */
.imgBeforeLoaded {
    opacity: 0;
}
.imgAnimation {
    animation: imageFadeIn 0.8s 1 ease-out;
}

.imgBufferingContainer {
    position: relative;
}
.loadingIcon {
    --loadingIconSize: var(--pLineHeight);
    position: absolute;
    width: var(--loadingIconSize);
    height: var(--loadingIconSize);
    top: calc(50% - var(--loadingIconSize) / 2);
    left: calc(50% - var(--loadingIconSize) / 2);

    animation: loadingRotate 1s infinite linear;
}


/* nav, footer */
#navTop,
#footerBottom {
    height: var(--navHeight);
}
#navTop p,
#footerBottom p {
    /* padding: 0 var(--pLineHeight) 0 0; */
    padding: 0 calc(var(--pLineHeight) * 0.8) 0 0;
}
#footerCopy {
    color: var(--ColorWhite);
    opacity: 0.4;
}
/* #navTop p,
#footerBottom div:nth-child(1) div:nth-child(2) p {
    padding: 0 calc(var(--pLineHeight) * 0.8) 0 0;
}
#footerBottom div:nth-child(1) div:nth-child(2) p:last-child {
    padding: 0;
}
#footerCopy {
    color: var(--ColorWhite);
    opacity: 0.4;
} */




/* project page (index) */
.projectCard {
    position: relative;
}

.projectText {
    padding: var() 0px 0px 0px;
}
.projectBlackFilter {
    height: calc(var(--block3_12) * 0.8);
    position: absolute;
    opacity: 0;
    z-index: 100;
    background-color: var(--ColorBlack);

    transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    -ms-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
}
.projectThumbnail {
    height: calc(var(--block3_12) * 0.8);
    position: relative;
    overflow: hidden;

    background-color: var(--ColorBlack);
    
    transition: background-color .1s ease-out;
    -o-transition: background-color .1s ease-out;
    -ms-transition: background-color .1s ease-out;
    -moz-transition: background-color .1s ease-out;
    -webkit-transition: background-color .1s ease-out;
}
    /* :nth-child(1) cuz prevent from applying to other images, e.g. loading icon */
    .projectThumbnail div img:nth-child(1) {
        width: var(--block3_12);
    }


.coming_soon_container {
    position: relative;
}
.coming_soon_back {
    background-color: var(--ColorBlack);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 50;
}
.coming_soon_text {
    position: absolute;
    width: 100%;
    top: 36%;
    left: 0;
    text-align: center;
    z-index: 60;
}



/* about page */
.revolvingTextAnimation {
    animation: revolvingTextAnimation 16s infinite linear;
}



/* project common */
.hero {
    width: var(--block12_12);
    height: calc(var(--block12_12) * 0.54);
    overflow: hidden;
}

#menu {
    height: 100vh;
    z-index: 100;

    overflow-y: scroll;

    transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -webkit-transition: background-color .3s ease-out;
}
    #close {
        width: calc(var(--pLineHeight) * 2);
        height: calc(var(--pLineHeight) * 2);
        padding-top: calc(calc(var(--h1LineHeight) - var(--h1Size)) / 2); 
        cursor: pointer;
    }
    #menuList {
        position: relative;
    }
        .menuFadeIn {
            animation: menuFadeIn .22s 1 ease-in;
        }
        .menuFadeOut {
            animation: menuFadeOut .22s 1 ease-out;
        }
    #menuTitle {
        cursor: pointer;
    }
    #menuIcon {
        width: calc(var(--pLineHeight) * 2);
        height: calc(var(--pLineHeight) * 2);
        border-radius: 100px;
        background-color: var(--ColorBlack);
        cursor: pointer;
        z-index: 50;
        /* opacity: 0.4;

        transition: opacity .1s ease-out;
        -o-transition: opacity .1s ease-out;
        -ms-transition: opacity .1s ease-out;
        -moz-transition: opacity .1s ease-out;
        -webkit-transition: opacity .1s ease-out; */
    }
    /* #menuIcon:hover {
        opacity: 1;

        transition: opacity .1s ease-out;
        -o-transition: opacity .1s ease-out;
        -ms-transition: opacity .1s ease-out;
        -moz-transition: opacity .1s ease-out;
        -webkit-transition: opacity .1s ease-out;
    } */
/* .tag {
    text-transform: uppercase;
} */




/* each project */

/* vr garden */
#virtual_garden1_video_container {
    position: relative;
    height: auto;
}
    #virtual_garden1_video {
        width: 15.6%;
        position: absolute;
        top: calc(24%);
        left: calc(50% - 7.8%);
    }

/* cm guide */
.video_play_container {
    position: relative;
    cursor: pointer;
}
    .video_play_playIcon {
        width: calc(var(--pLineHeight) * 1.5);
        height: calc(var(--pLineHeight) * 1.5);
        position: absolute;
        bottom: calc(var(--pLineHeight) / 1.5);
        right: calc(var(--pLineHeight) / 1.5);
        border-radius: 100px;
        opacity: 0.4;
    }
    .video_play_playIcon:hover {
        opacity: 1;
    }

/* diary */
.diary_demo_container {
    position: relative;
}
    .diary_demo_video {
        width: 32%;
        position: absolute;
        left: calc(50% - 16%);
        top: calc(21%);
    }

/* random */
.random_img {
    height: auto;
}

/* chime */
.greenBackContainer {
    position: relative;
}
    .greenBack {
        height: 48vw;
        background-color: var(--ColorChime2);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }






/* animation */

.closeFadeIn {
    animation: closeFadeIn .22s 1 ease-in;
    transform-origin: 0 0;
}

.closeFadeOut {
    animation: closeFadeOut .22s 1 ease-out;
    transform-origin: 0 0;
}



@keyframes imageFadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

@keyframes revolvingTextAnimation {
    from {
        transform: translateX(var(--block12_12));
    } 
    to {
        transform: translateX(calc(0px - var(--block12_12) * 2.5));
    }
}

@keyframes menuFadeIn {
    from {
        transform: translateY(calc(var(--fixedEdge) / 2));
        opacity: 0;
    } 
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menuFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    } 
    to {
        transform: translateY(calc(var(--fixedEdge) / 2));
        opacity: 0;
    }
}

@keyframes closeFadeIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    } 
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes closeFadeOut {
    from {
        transform: scale(1);
        opacity: 1;
    } 
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes loadingRotate {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}





@media (max-width: 760px) {
    body {
        --pSize: calc(1280px / 80);
    }
    h1 {
        word-break: break-word;
    }
    #contentContainer {
        --block12_12: var(--contentWidth);
        --block1_12: var(--contentWidth);
        --block2_12: var(--contentWidth);
        --block3_12: var(--contentWidth);
        --block4_12: var(--contentWidth);
        --block5_12: var(--contentWidth);
        --block6_12: var(--contentWidth);
        --block7_12: var(--contentWidth);
        --block8_12: var(--contentWidth);
        --block9_12: var(--contentWidth);
        --block10_12: var(--contentWidth);
        --block11_12: var(--contentWidth);
    }
}

@media (min-width: 1921px) {
    #contentContainer {
        --contentWidth: calc(1920px * 0.9);
    }
    body {
        --pSize: calc(1920px / 80);
    }
    .contentBlockFixedTopLeft {
        /* set to vSpace120 */
        top: calc(var(--pLineHeight) * 4.5);
    }
    .marginTopFixedEdge {
        /* set to vSpace120 */
        margin-top: calc(var(--pLineHeight) * 4.5);
    }
}




