/* font set up */
@font-face {
    font-family: title_bold;
    src: url("../font/Roboto_slab/RobotoSlab-Bold.ttf");
}

@font-face {
    font-family: title_regular;
    src: url("../font/Roboto_slab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: body_regular;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: body_medium;
    src: url("../font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: body_bold;
    src: url("../font/Roboto/Roboto-Bold.ttf");
}


/* meta style start*/
body {
    font-family: 'body_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #333333;
}

h1 {
    font-size: 40px;
    /* 48 */
    line-height: 56px;
    font-family: 'title_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000;
    margin: 0 0 56px 0;
}

h2 {
    font-size: 24px;
    /* 32 */
    line-height: 32px;
    font-family: 'title_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000;
    margin: 0 0 32px 0;
}

h3 {
    font-size: 15px;
    line-height: 24px;
    font-family: 'title_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000;
    margin: 0 0 24px 0;
}

p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'body_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #333333;
    margin: 0 0 24px 0;
}

b {
    font-family: 'body_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #333333;
}

a:visited {
    color: #333333;
}

a:hover {
    text-decoration: underline;
}

.detail_page_section {
    margin: 0 0 64px 0;
}

html {
    scroll-behavior: smooth;
}

.img_item:hover {
    cursor: pointer;
}

.info_point {
    font-family: 'body_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
    color: #000;
} /* body inline bold */
/* meta style end*/


/* Forword btn start */
.forward_btn {
    width: 10px;
    height: 10px;
    padding: 0 8px 0 8px;
    background-color: transparent;
}
/* Forword btn end */


/* iframe start */
.gallery iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
/* iframe end */


/* grid & flex set up */
#meta_content {
    width: 100%;
    margin: 0 auto 80px auto;
}

#main_content {
    padding: 40px 40px 0 320px;
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.project_list {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.project_cat {
    grid-column: 1/7;
    margin: 0;
}
/* grid & flex set up */



/* nav style start */
#nav_top {
    position: fixed;
    width: 296px;
    top: 16px;
    padding: 0 0 0 16px;
    z-index: 15;
}

#menu {
    height: 100vh;
    overflow: scroll;
}

#menu ul li {
    opacity: 40%;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

#menu ul li:hover {
    opacity: 100%;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    text-decoration: none;
    cursor: pointer;
}

#menu_divider {
    margin: 0 0 32px 24px;
    display: block;
}

/* .info_divider {
    height: 1px;
    width: 10px;
    background-color: #333;
    margin: 0 0 11px 0;
} */

#my_name {
    background-color: white;
    padding: 24px 24px 0 24px;
    height: 32px;
}

#sc_logo {
    width: 32px;
    display: inline-block;
    padding: 0 8px 0 0;
}

#title {
    background-color: white;
    padding: 32px 24px 36px 24px;
    width: 200px;
}

/* #title h2 {
    font-size: 13px;
    line-height: 24px;
    color: #333;
    font-family: 'title_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
} font style set to normal p */

#nav_top li {
    list-style-type: none;
    background-color: white;
    font-family: 'body_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 0 24px 0px 24px;
}

#nav_top li a {
    font-size: 13px;
    line-height: 24px;
    color: #333;
}

#nav_top #extra_for_mobile_scroll_project_list {
    height: 224px;
    background: none;
}

#nav_top #extra_for_mobile_scroll_project_detail {
    height: 128px;
    background: none;
}

#nav_bottom {
    padding: 24px 24px 0 0;
    margin: 144px 0 0 0;
    bottom: 16px;
    z-index: 10;
}

#nav_bottom p {
    opacity: 40%;
    font-size: 12px;
    line-height: 24px;
    padding: 0;
    font-family: 'body_regular', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #666666;
    margin: 0;
}

#my_name a {
    height: 32px;
    display: inline-block;
}

#my_name h1 {
    display: inline-block;
    color: black;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    vertical-align: top;
    font-family: 'title_bold', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#sc_logo:hover + h1 {
    text-decoration: underline;
}

#my_name h1:hover {
    text-decoration: underline;
}

#menu_icon {
    display: none;
}
/* nav style end */




/* jump start*/
#jump a {
    width: auto;
    font-size: 13px;
    padding: 16px;
    background: black;
    color: white;
    position: absolute;
    top: -120px;
    -webkit-transition: top 0.6s ease-out;
    transition: top 0.6s ease-out;
    z-index: 20;
    text-decoration: none;
}

#jump a:focus {
    top: 0px;
}
/* jump end*/



/* project list style start*/

.project:nth-child(odd) {
    grid-column: 4/7;
}

.project:nth-child(even) {
    grid-column: 1/4;
}

.project a {
    display: block;
}

.project a:hover {
    text-decoration: none;
}

.project a:hover .project_title {
    text-decoration: underline;
}

.thumbnail .thumbnail_img {
    width: auto;
    padding-top: 56%;
    position: relative;
    -webkit-transition: background-size ease-in-out 0.25s;
    transition: background-size ease-in-out 0.25s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #222;
} /* the padding-top here is to set the aspect ratio */

.project:hover .thumbnail_img {
    background-size: 103% 103%;
}

.info {
    margin: 8px 0 0 0;
}

.info p {
    margin: 0;
}

.info p ~ p {
    opacity: 40%;
}

.project_title {
    font-size: 13px;
    line-height: 24px;
    font-family: 'body_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
    color: #000;
    margin: 8px 0 0 0;
}
/* project list style end*/



/* image modal start */
.img_modal_style {
    display: block; 
    position: fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
} /* The Modal (background) */

.modal_content {
    margin: auto;
    display: block;
    width: auto;
    padding: 100px 0;
    max-width: 80vw;
    /* Add Animation - Zoom in the Modal */
    animation-name: zoom;
    animation-duration: 0.6s;
} /* Modal Content (Image) */
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
    
.close_btn {
    position: absolute;
    top: 16px;
    right: 32px;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    transition: 0.3s;
} /* The Close Button */
  
.close_btn:hover, .close_btn:focus {
    text-decoration: none;
    cursor: pointer;
}
/* image modal end */



/* responsive start */
@media (min-width: 1600px) {
    .project:nth-child(3n-1) {
        grid-column: 1/3;
    }
    
    .project:nth-child(3n) {
        grid-column: 3/5;
    }

    .project:nth-child(3n-2) {
        grid-column: 5/7;
    }
}

@media (max-width: 1156px) {
    .project:nth-child(odd) {
        grid-column: 1/7;
    }
    
    .project:nth-child(even) {
        grid-column: 1/7;
    }
}

@media (max-width: 960px) {
    #meta_content {
        width: 90%;
        margin: 0 auto 40px auto;
    }
    
    .project:nth-child(odd) {
        grid-column: 1/7;
    }
    
    .project:nth-child(even) {
        grid-column: 1/7;
    }
    
    #nav_top {
        width: 90%;
        height: auto;
        padding: 0;
        top: 0;
        background: #fff;
        overflow: scroll;
    }

    #my_name {
        padding: 24px 0 24px 0;
    }

    #title {
        padding: 4px 0 24px 0;
        width: auto;
    }

    #menu {
        height: 0;
        text-align: center;
        -webkit-transition: 0.35s ease-out;
        transition: 0.35s ease-out;
        overflow: scroll;
    }

    #menu_divider {
        display: none;
    }

    #menu ul {
        padding: 48px 0 0 0;
        display: none;
    }

    #menu ul li {
        margin: 0 0 24px 0;
    }

    #menu ul li a {
        font-size: 13px;
        line-height: 24px;
    }

    #menu_icon {
        display: block;
        margin: 8px 0 0 0;
        width: 16px;
        height: 16px;
        float: right;
    }

    #menu_icon:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    
    #main_content {
        padding: 128px 0 0 0;
    }

    #nav_bottom {
        padding: 16px 16px 0 0;
        width: auto;
        margin: 40px 0 0 0;
    }

    #nav_bottom p {
        padding: 24px 24px 0 0;
    }
}
/* responsive end */



/* reduce motion start */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: smooth;
    }
}
/* reduce motion end */