/* hero image general setup start */
#hero_img {
    min-height: 240px;
    height: 64vh;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1000;
}

#hero_img_over {
    min-height: 240px;
    height: 64vh;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: -200;
    opacity: 0;
}

.hero_img_content {
    position: absolute;
    height: 48vh;
    margin: 0 0 0 50vw;
    -webkit-transform: translate(-50%, 80px);
    transform: translate(-50%, 80px);
    z-index: -500;
}
/* hero image general setup end */

/* project layout adjust start */
#meta_content {
    margin-top: 64vh;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
}

#nav_top {
    top: 0;
    padding: 64px 0 0 16px;
    position: absolute;
}

#main_content {
    max-width: 760px;
    padding: 64px 48px 0 336px;
    margin: 0 auto 80px auto;
}

.gallery_left_large p, .gallery_left_small p {
    padding: 0 32px 0 0;
}
/* project layout adjust end */

/* project typography start */
.info_point {
    font-family: 'Rasa_bold';
    color: #000;
}

#main_content h1 {
    font-size: 48px;
    line-height: 64px;
    color: #000;
    margin: 0 0 32px 0;
}

#main_content h2 {
    font-size: 28px;
    line-height: 48px;
    color: #000;
    margin: 0 0 32px 0;
}

#main_content h3 {
    font-size: 20px;
    line-height: 40px;
    color: #000;
    margin: 0 0 32px 0;
}

#main_content p {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin: 0 0 32px 0;
}

.project_content_list {
    margin: 0 0 32px 20px;
    padding: 0 0 0 20px;
}

.project_content_list li {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    margin: 0;
    padding: 0 0 0 8px;
} /* same as content p */
/* project typography end */

/* image grid set up */
.gallery {
    grid-column: 1/7;
    margin: 0;
}

.gallery_left {
    grid-column: 1/4;
    margin: 0 0 32px 0;
}

.gallery_right {
    grid-column: 4/7;
    margin: 0 0 32px 0;
}

.devider {
    height: 24px;
    margin: 24px 0 64px 0;
    border-top: 1px solid #ccc;
    background-color: transparent;
}

.devider_no_line {
    height: 32px;
    background-color: transparent;
}

.img_item img {
    width: 100%;
    margin: 0 0 24px 0;
}

.img_web_prototype img {
    width: 100%;
    margin: 0 0 24px 0;
}
/* image grid set up */

/* nav for project page start */
#back {
    background-color: white;
    padding: 24px 24px 16px 24px;
}

#menu #last_item_extra_padding {
    padding: 0 24px 16px 24px;
}

#back img {
    width: 12px;
    height: 12px;
}

#back a {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

#detail_page_name h2 {
    display: inline-block;
    margin: 0 0 0 8px;
    color: black;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Din_pro_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#detail_page_name a:hover {
    text-decoration: none;
}
/* nav for project page end */

/* mobile start */
@media (max-width: 1156px) {
    .gallery_right_large, .gallery_right_small, .gallery_left_large, .gallery_left_small {
        grid-column: 1/7;
    }

    .gallery_left_large p, .gallery_left_small p {
        padding: 0;
    }

    #main_content {
        max-width: none;
    }
}

@media (max-width: 960px) {
    .hero_img_content {
        height: auto;
        width: 80vw;
        -webkit-transform: translate(-50%, 24vh);
        transform: translate(-50%, 24vh);
    }

    #nav_top {
        width: 90%;
        height: auto;
        top: 24px;
        background: #fff;
        /* change back to normal */
        position: fixed;
        padding: 0 0 0 0;
        /* need adjust since meta-content become absolute */
        margin-left: 50vw;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
    #back {
        padding: 24px 0 24px 0;
    }

    #detail_page_name {
        position: relative;
        left: 24px;
    }

    #menu_icon {
        margin: 8px 24px 0 0;
    }

    #main_content {
        padding: 40px 5% 0 5%;
    }
}
/* mobile end */