#hero_img {
    background-image: linear-gradient(#0B8084, #0B8084);
}

#map_animation {
    padding-top: 56.25%;
    position: relative;
    margin: 0 0 48px 0;
}

.gallery iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}