/* nav selected */
#menu ul #visual {
    opacity: 100%;
    font-family: 'body_medium', 'Open Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;;
}
/* nav selected */

/* project image start*/

.map {
    background-image: url("../image/img_visual/thumbnail_map.png");
}

.poster {
    background: url("../image/img_visual/thumbnail_poster.png");
}

.cd {
    background: url("../image/img_visual/thumbnail_cd.png");
}

.logo {
    background: url("../image/img_visual/thumbnail_logo.png");
}


/* project image end*/