/* nav selected */
#visual {
    text-decoration: underline;
}
/* nav selected */

/* project image start*/

.map {
    background-image: url("../image/img_visual/thumbnail_map.jpg");
}

.poster {
    background: url("../image/img_visual/thumbnail_poster.jpg");
}

.cd {
    background: url("../image/img_visual/thumbnail_cd.jpg");
}

.logo {
    background: url("../image/img_visual/thumbnail_logo.jpg");
}


/* project image end*/